* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: monospace;
    line-height: 24px;
}

body {
    background-color: lavender;
}

.taksim {
    position: absolute;
}